.timeline-custom {
    .start {
        .timeline-item-dateinner {
            background: #5acffd;
            color: black;
        }
        .title {
            &::before {
                color: #E4B429;
                background-color: black;
            }
        }

    }

    .job-1{
       .timeline-item-dateinner {
           background: #5acffd;
           color: black;
       }
    }

    h3, h4 {
       padding-bottom: 1rem;
    }

    h4 {
        line-height: 1.6;
    }

}


.entry .title:before {
    right: -10px;
    
}