/* Dark mode styles */
.dark-switcher {
  color: #a0a0a0;
  margin-top: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

p {
  color: #35383c;
}

.dark {
  background-color: #1b1e2b;
  transition: all 0.6s ease;
}

.dark a {
  color: #89ddff;
}

.dark p {
  color: #f5f5f5;
}

.dark h3 {
  color: #89ddff;
}
.dark h1 {
  color: rgb(247, 140, 108);
}
.dark h2 {
  color: rgb(247, 140, 108);
}

.dark small {
  color: #c3e88d;
}

.light {
  transition: all 0.6s ease;
  background-color: #fff;
}

h1 {
  color: #39adc4;
}

h2 {
  color: #39adc4;
}

h3 {
  color: #f76d47;
}

small {
  color: #f76d47;
}

a {
  color: #39adc4;
  box-shadow: none;
}

#lightmodebutton {
  color: #f5f5f5;
}

#darkmodebutton {
  color: rgb(99, 99, 99);
}

.dark blockquote {
  color: bisque;
}
