/* body {
  --bg: #1b1e2b;
  --textNormal: rgb(221, 221, 221);
  --textTitle: #89ddff;
  --textLink: #89ddff;
  --hr: hsla(0, 0%, 0%, 0.2);
  --date: #c3e88d;

  background-color: var(--bg);
} */
/* p {
  color: var(--textNormal);
} */
