body {
  --bg: #1b1e2b;
  --textNormal: #f78c6c;
  --textTitle: #89ddff;
  --textLink: #89ddff;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}
p {
  color: var(--textNormal);
}
body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: darkslategray;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
}
